[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
azure-cosmos = "*"
azure-functions = "==1.12.0"
azure-identity = "*"
azure-storage-blob = "==12.14.1"
requests = "*"
bs4 = "*"
xxhash = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.17"
